<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-7">
            <h3>Agregar Empresa asociada</h3>
            <form action="/admin/empresasAsociadas/agregar" method="post">
                <div class="form-group">
                    <label for="NombreEmpresa">Nombre empresa</label>
                    <input type="text" class="form-control" id="NombreEmpresa" name="NombreEmpresa"
                        placeholder="Nombre de la Empresa">
                </div>
                <div class="form-group">
                    <label for="DescripcionEmpresa">Descripción</label>
                    <textarea class="form-control" id="DescripcionEmpresa" name="DescripcionEmpresa"
                        rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="ImagenEmpresa">Link a imagen</label>
                    <input type="text" class="form-control" id="ImagenEmpresa" name="ImagenEmpresa"
                        placeholder="Link a imagen">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
    </div>
</div>
{{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
{{/if}}