<div class="container" style="margin:50px auto"> 
    <div class="row">
        <div class="col">
            <label class="form-label text-light">Hola {{ usuario }}</label>
            <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fa fa-sign-out-alt"></i></a>
        </div>
    </div>
</div>